@use 'variables' as vars;

svg {
  display: block;
  width: auto;   // prevent stretching
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
}

.sheet-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

}