@use 'variables' as vars;

svg { 
  width: 100%;
  background-color: white;  
  //border-bottom: 1px solid black;
  //border-left: 1px solid black;
  //border-right: 1px solid black;
  //border: 1px solid black;
  padding: 0rem;
  margin: 0rem;
  
}

.sheet-music-wrapper {
  justify-content: center;
  border: 1px solid black;
  padding: 0rem;
  margin: 0rem;
  background-color: white;
}